stages:
  - build

default:
cache:                           {}

.collect-artifacts:                &collect-artifacts
  artifacts:
  name:                          "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
  when:                          on_success
  expire_in:                     7 days
  paths:
    - artifacts/

# docker:
#   stage: build
#   image: docker:latest
#   services:
#     - docker:dind
#   before_script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#   allow_failure: true
#   script:
#     - docker build -t playzero/subzero:latest .
#     - docker push "$CI_REGISTRY_IMAGE"
