[package]
name = 'node-runtime'
version = '2.0.0'
authors = ['Parity Technologies <admin@parity.io>']
edition = '2018'
build = 'build.rs'
license = 'Apache-2.0'
homepage = 'https://substrate.dev'
repository = 'https://github.com/paritytech/substrate/'

[package.metadata.docs.rs]
targets = [
	'x86_64-unknown-linux-gnu'
]

[dependencies]

# third-party dependencies

codec = { package = 'parity-scale-codec', version = '1.3.4', default-features = false, features = ['derive'] }
serde = { optional = true, version = '1.0.101' }

integer-sqrt = { version = '0.1.2' }
static_assertions = '1.1.0'
hex-literal = { version = '0.3.1', optional = true }

# primitives

sp-consensus-babe = { version = '0.8.0', default-features = false, path = '../../../primitives/consensus/babe' }
sp-consensus-aura = { version = '0.8.0', default-features = false, path = '../../../primitives/consensus/aura' }

sp-authority-discovery = { version = '2.0.0', default-features = false, path = '../../../primitives/authority-discovery' }
sp-block-builder = { path = '../../../primitives/block-builder', default-features = false, version = '2.0.0'}
sp-inherents = { version = '2.0.0', default-features = false, path = '../../../primitives/inherents' }
node-primitives = { version = '2.0.0', default-features = false, path = '../primitives' }
sp-offchain = { version = '2.0.0', default-features = false, path = '../../../primitives/offchain' }
sp-core = { version = '2.0.0', default-features = false, path = '../../../primitives/core' }
sp-std = { version = '2.0.0', default-features = false, path = '../../../primitives/std' }
sp-api = { version = '2.0.0', default-features = false, path = '../../../primitives/api' }
sp-runtime = { version = '2.0.0', default-features = false, path = '../../../primitives/runtime' }
sp-staking = { version = '2.0.0', default-features = false, path = '../../../primitives/staking' }
sp-keyring = { version = '2.0.0', optional = true, path = '../../../primitives/keyring' }
sp-session = { version = '2.0.0', default-features = false, path = '../../../primitives/session' }
sp-transaction-pool = { version = '2.0.0', default-features = false, path = '../../../primitives/transaction-pool' }
sp-version = { version = '2.0.0', default-features = false, path = '../../../primitives/version' }

# frame

frame-executive = { version = '2.0.0', default-features = false, path = '../../../frame/executive' }
frame-benchmarking = { version = '2.0.0', default-features = false, path = '../../../frame/benchmarking', optional = true }
frame-support = { version = '2.0.0', default-features = false, path = '../../../frame/support' }
frame-system = { version = '2.0.0', default-features = false, path = '../../../frame/system' }
frame-system-benchmarking = { version = '2.0.0', default-features = false, path = '../../../frame/system/benchmarking', optional = true }
frame-system-rpc-runtime-api = { version = '2.0.0', default-features = false, path = '../../../frame/system/rpc/runtime-api/' }

# pallets

pallet-authority-discovery = { version = '2.0.0', default-features = false, path = '../../../frame/authority-discovery' }
pallet-authorship = { version = '2.0.0', default-features = false, path = '../../../frame/authorship' }
pallet-babe = { version = '2.0.0', default-features = false, path = '../../../frame/babe' }
pallet-aura = { version = '2.0.0', default-features = false, path = '../../../frame/aura' }
pallet-balances = { version = '2.0.0', default-features = false, path = '../../../frame/balances' }
pallet-collective = { version = '2.0.0', default-features = false, path = '../../../frame/collective' }
pallet-democracy = { version = '2.0.0', default-features = false, path = '../../../frame/democracy' }
pallet-elections-phragmen = { version = '2.0.0', default-features = false, path = '../../../frame/elections-phragmen' }
pallet-finality-tracker = { version = '2.0.0', default-features = false, path = '../../../frame/finality-tracker' }
pallet-grandpa = { version = '2.0.0', default-features = false, path = '../../../frame/grandpa' }
pallet-im-online = { version = '2.0.0', default-features = false, path = '../../../frame/im-online' }
pallet-indices = { version = '2.0.0', default-features = false, path = '../../../frame/indices' }
pallet-identity = { version = '2.0.0', default-features = false, path = '../../../frame/identity' }
pallet-membership = { version = '2.0.0', default-features = false, path = '../../../frame/membership' }
pallet-multisig = { version = '2.0.0', default-features = false, path = '../../../frame/multisig' }
pallet-offences = { version = '2.0.0', default-features = false, path = '../../../frame/offences' }
pallet-offences-benchmarking = { version = '2.0.0', path = '../../../frame/offences/benchmarking', default-features = false, optional = true }
pallet-proxy = { version = '2.0.0', default-features = false, path = '../../../frame/proxy' }
pallet-randomness-collective-flip = { version = '2.0.0', default-features = false, path = '../../../frame/randomness-collective-flip' }
pallet-recovery = { version = '2.0.0', default-features = false, path = '../../../frame/recovery' }
pallet-session = { version = '2.0.0', features = ['historical'], path = '../../../frame/session', default-features = false }
pallet-session-benchmarking = { version = '2.0.0', path = '../../../frame/session/benchmarking', default-features = false, optional = true }
pallet-staking = { version = '2.0.0', default-features = false, path = '../../../frame/staking' }
pallet-staking-reward-curve = { version = '2.0.0', default-features = false, path = '../../../frame/staking/reward-curve' }
pallet-scheduler = { version = '2.0.0', default-features = false, path = '../../../frame/scheduler' }
pallet-society = { version = '2.0.0', default-features = false, path = '../../../frame/society' }
pallet-sudo = { version = '2.0.0', default-features = false, path = '../../../frame/sudo' }
pallet-timestamp = { version = '2.0.0', default-features = false, path = '../../../frame/timestamp' }
pallet-treasury = { version = '2.0.0', default-features = false, path = '../../../frame/treasury' }
pallet-utility = { version = '2.0.0', default-features = false, path = '../../../frame/utility' }
pallet-transaction-payment = { version = '2.0.0', default-features = false, path = '../../../frame/transaction-payment' }
pallet-transaction-payment-rpc-runtime-api = { version = '2.0.0', default-features = false, path = '../../../frame/transaction-payment/rpc/runtime-api/' }
pallet-vesting = { version = '2.0.0', default-features = false, path = '../../../frame/vesting' }

# contracts

pallet-contracts = { version = '2.0.0', default-features = false, path = '../../../frame/contracts' }
pallet-contracts-primitives = { version = '2.0.0', default-features = false, path = '../../../frame/contracts/common/' }
pallet-contracts-rpc-runtime-api = { version = '0.8.0', default-features = false, path = '../../../frame/contracts/rpc/runtime-api/' }

# offchain worker

# evm

# pallet-ethereum = { version = '0.1.0', default-features = false, path = '../../../vendors/frontier/frame/ethereum' }
# pallet-evm = { version = '2.0.0', default-features = false, path = '../../../frame/evm' }

# modules

module-crowdfunding = { default-features = false, path = '../../../modules/crowdfunding' }
# module-nft = { default-features = false, path = '../../../modules/nft' }
# module-identity
# module-synapse
# module-synapse-mogwai
# module-skill = { version = '0.0.1', default-features = false, path = '../../../modules/skillz' }

# chainlink

# pallet-chainlink = { default_features = false, path = '../../../vendors/chainlink-polkadot/pallet-chainlink' }

# orml

# orml-currencies = { path = '../../../vendors/orml/currencies', default-features = false }
# orml-tokens = { path = '../../../vendors/orml/tokens', default-features = false }
# orml-traits = { path = '../../../vendors/orml/traits', default-features = false }
# orml-nft = { path = '../../../vendors/orml/nft', default-features = false }

# orml-auction = { path = '../../../vendors/orml/auction', default-features = false }
# orml-authority = { path = '../../../vendors/orml/authority', default-features = false }
# orml-benchmarking = { path = '../../../vendors/orml/benchmarking', default-features = false, optional = true }
# orml-oracle = { path = '../../../vendors/orml/oracle', default-features = false }
# orml-oracle-rpc-runtime-api = { path = '../../../vendors/orml/oracle/rpc/runtime-api', default-features = false }
# orml-gradually-update = { path = '../../../vendors/orml/gradually-update', default-features = false }
# orml-vesting = { path = '../../../vendors/orml/vesting', default-features = false }
# orml-rewards = { path = '../../../vendors/orml/rewards', default-features = false }

#

[build-dependencies]
wasm-builder-runner = { version = '1.0.5', package = 'substrate-wasm-builder-runner', path = '../../../utils/wasm-builder-runner' }

[dev-dependencies]
sp-io = { version = '2.0.0', path = '../../../primitives/io' }

[features]
default = ['std']
with-tracing = [ 'frame-executive/with-tracing' ]
std = [

	'serde',
	'codec/std',

	'sp-authority-discovery/std',
	'pallet-authority-discovery/std',
	'pallet-authorship/std',

	'sp-consensus-babe/std',
	'pallet-babe/std',

	'sp-consensus-aura/std',
	'pallet-aura/std',

	'pallet-balances/std',
	'sp-block-builder/std',
	'pallet-collective/std',
	'pallet-contracts/std',
	'pallet-contracts-primitives/std',
	'pallet-contracts-rpc-runtime-api/std',
	'pallet-democracy/std',
	'pallet-elections-phragmen/std',
	'frame-executive/std',
	'pallet-finality-tracker/std',
	'pallet-grandpa/std',
	'pallet-im-online/std',
	'pallet-indices/std',
	'sp-inherents/std',
	'pallet-membership/std',
	'pallet-multisig/std',
	'pallet-identity/std',
	'pallet-scheduler/std',
	'node-primitives/std',
	'sp-offchain/std',
	'pallet-offences/std',
	'pallet-proxy/std',
	'sp-core/std',
	'pallet-randomness-collective-flip/std',
	'sp-std/std',
	'serde',
	'pallet-session/std',
	'sp-api/std',
	'sp-runtime/std',
	'sp-staking/std',
	'pallet-staking/std',
	'sp-keyring',
	'sp-session/std',
	'pallet-sudo/std',
	'frame-support/std',
	'frame-benchmarking/std',
	'frame-system-rpc-runtime-api/std',
	'frame-system/std',
	'pallet-timestamp/std',
	'pallet-transaction-payment-rpc-runtime-api/std',
	'pallet-transaction-payment/std',
	'pallet-treasury/std',
	'sp-transaction-pool/std',
	'pallet-utility/std',
	'sp-version/std',
	'pallet-society/std',
	'pallet-recovery/std',
	'pallet-vesting/std',

	# chainlink

	# 'pallet-chainlink/std',

	#

	# 'orml-traits/std',
	# 'orml-currencies/std',
	# 'orml-tokens/std',
	# 'orml-nft/std',

	# 'orml-auction/std',
	# 'orml-authority/std',
	# 'orml-benchmarking/std',
	# 'orml-oracle/std',
	# 'orml-oracle-rpc-runtime-api/std',
	# 'orml-gradually-update/std',
	# 'orml-vesting/std',
	# 'orml-rewards/std',

	# 'pallet-evm/std',
	# 'pallet-ethereum/std',
	# 'pallet-assets/std',

	# zero

	'module-crowdfunding/std',
	# 'module-nft/std',

]
runtime-benchmarks = [
	'frame-benchmarking',
	'frame-support/runtime-benchmarks',
	'frame-system/runtime-benchmarks',
	'sp-runtime/runtime-benchmarks',
	'pallet-babe/runtime-benchmarks',
	'pallet-balances/runtime-benchmarks',
	'pallet-collective/runtime-benchmarks',
	'pallet-contracts/runtime-benchmarks',
	'pallet-democracy/runtime-benchmarks',
	'pallet-elections-phragmen/runtime-benchmarks',
	'pallet-grandpa/runtime-benchmarks',
	'pallet-identity/runtime-benchmarks',
	'pallet-im-online/runtime-benchmarks',
	'pallet-indices/runtime-benchmarks',
	'pallet-multisig/runtime-benchmarks',
	'pallet-proxy/runtime-benchmarks',
	'pallet-scheduler/runtime-benchmarks',
	'pallet-society/runtime-benchmarks',
	'pallet-staking/runtime-benchmarks',
	'pallet-timestamp/runtime-benchmarks',
	'pallet-treasury/runtime-benchmarks',
	'pallet-utility/runtime-benchmarks',
	'pallet-vesting/runtime-benchmarks',
	'pallet-offences-benchmarking',
	'pallet-session-benchmarking',
	'frame-system-benchmarking',
	'hex-literal',
]
